.chat {
  display: flex;
  height: 52vh;
  width: 40vh;
  background-color: white;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(28, 105, 212, 0.125);
  flex-direction: column;
}
.chat ::-webkit-scrollbar {
  background-color: white;
}
.chat .back-btn {
  display: block;
  width: 3vh;
  height: 3vh;
  position: absolute;
  top: 1vh;
  left: 0.8vh;
  background-color: white;
}
.chat .back-btn img {
  height: 100%;
  padding: 0.5vh;
}
.chat .seller-pb-name {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-bottom: 1vh;
  background-color: #f3f3f3;
}
.chat .seller-pb-name img {
  height: 5vh;
  border-radius: 50%;
  margin-right: 1vh;
  object-fit: cover;
}
.chat .seller-pb-name p {
  margin-right: 15vh;
  font-size: 1.5vh;
  font-family: "bmwlight";
}
.chat .seller-pb-name span {
  margin-right: 1.5vh;
  font-size: 1.5vh;
  font-family: "bmwlight";
}
.chat .seller-pb-name #online {
  border-radius: 100%;
  width: 2vh;
  height: 2vh;
}
.chat .container-messages {
  height: 41vh;
  width: 100%;
  align-self: flex-start;
  overflow-y: scroll;
  background-color: white;
  margin-top: 4.5vh;
}
.chat .container-messages .message-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 1vh;
}
.chat .container-messages .message-wrapper .customer {
  display: flex;
  align-self: flex-end;
  max-width: 55%;
  margin-right: 15px;
  height: max-content;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 0.75vh 1vh;
  background-color: #6bb5cd;
  color: white;
  border-radius: 1.2vh;
  margin-bottom: 1vh;
  font-family: bmwlight;
}
.chat .container-messages .message-wrapper .customer .pdf {
  height: 7vh;
}
.chat .container-messages .message-wrapper .customer a {
  color: white;
}
.chat .container-messages .message-wrapper .operator {
  display: flex;
  align-self: flex-start;
  max-width: 55%;
  margin-left: 15px;
  height: max-content;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 0.75vh 1vh;
  background-color: #9397a0;
  color: white;
  border-radius: 1.2vh;
  margin-bottom: 1vh;
  font-family: bmwlight;
}
.chat .container-messages .message-wrapper .operator .pdf {
  height: 7vh;
}
.chat .container-messages .message-wrapper .operator a {
  color: white;
}
.chat .container-messages-customer {
  height: 41vh;
  width: 100%;
  align-self: flex-start;
  overflow-y: scroll;
  background-color: white;
}
.chat .container-messages-customer .message-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 1vh;
}
.chat .container-messages-customer .message-wrapper .customer {
  display: flex;
  align-self: flex-end;
  max-width: 75%;
  margin-right: 15px;
  height: max-content;
  flex-wrap: wrap;
  word-break: break-word;
  padding: 0.75vh 1vh;
  background-color: #6bb5cd;
  color: white;
  border-radius: 1.2vh;
  margin-bottom: 1vh;
}
.chat .container-messages-customer .message-wrapper .customer .pdf {
  height: 7vh;
}
.chat .container-messages-customer .message-wrapper .operator {
  display: flex;
  align-self: flex-start;
  max-width: 75%;
  margin-left: 15px;
  height: max-content;
  flex-wrap: wrap;
  word-break: break-word;
  padding: 0.75vh 1vh;
  background-color: #9397a0;
  color: white;
  border-radius: 1.2vh;
  margin-bottom: 1vh;
}
.chat .container-messages-customer .message-wrapper .operator .pdf {
  height: 7vh;
}
.chat .container-message-form {
  height: 6vh;
  width: 100%;
}
.chat .container-message-form form {
  height: inherit;
  width: inherit;
  display: flex;
}
.chat .container-message-form form .text-input {
  width: 70%;
  outline: none;
  padding-left: 15px;
  font-size: 16px;
  background-color: #f3f3f3;
}
.chat .container-message-form form .text-input ::placeholder {
  color: gray;
}
.chat .container-message-form form label {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}
.chat .container-message-form form label img {
  height: 3vh;
}
.chat .container-message-form form #file-input {
  display: none;
}
.chat .container-message-form form button {
  width: 15%;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #f3f3f3;
}
.chat .container-message-form form button img {
  height: 3vh;
}

.StandAloneChat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.StandAloneChat .chat {
  display: flex;
  height: 93%;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(28, 105, 212, 0.125);
  flex-direction: column;
  margin-top: 2vh;
}
.StandAloneChat .chat ::-webkit-scrollbar {
  background-color: white;
}
.StandAloneChat .chat .back-btn {
  display: block;
  width: 3vh;
  height: 3vh;
  position: absolute;
  top: 1vh;
  left: 0.8vh;
  background-color: white;
}
.StandAloneChat .chat .back-btn img {
  height: 100%;
  padding: 0.5vh;
}
.StandAloneChat .chat .container-messages {
  height: 100%;
  width: 100%;
  align-self: flex-start;
  overflow-y: scroll;
  background-color: white;
  margin: 0;
}
.StandAloneChat .chat .container-messages .message-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 1vh;
}
.StandAloneChat .chat .container-messages .message-wrapper .customer {
  display: flex;
  align-self: flex-end;
  max-width: 75%;
  margin-right: 15px;
  height: max-content;
  flex-wrap: wrap;
  word-break: break-word;
  padding: 0.75vh 1vh;
  background-color: #6bb5cd;
  color: white;
  border-radius: 1.2vh;
  margin-bottom: 1vh;
  font-family: bmwlight;
}
.StandAloneChat .chat .container-messages .message-wrapper .customer .pdf {
  height: 7vh;
}
.StandAloneChat .chat .container-messages .message-wrapper .customer a {
  color: white;
}
.StandAloneChat .chat .container-messages .message-wrapper .operator {
  display: flex;
  align-self: flex-start;
  max-width: 75%;
  margin-left: 15px;
  height: max-content;
  flex-wrap: wrap;
  word-break: break-word;
  padding: 0.75vh 1vh;
  background-color: #9397a0;
  color: white;
  border-radius: 1.2vh;
  margin-bottom: 1vh;
  font-family: bmwlight;
}
.StandAloneChat .chat .container-messages .message-wrapper .operator .pdf {
  height: 7vh;
}
.StandAloneChat .chat .container-messages .message-wrapper .operator a {
  color: white;
}
.StandAloneChat .chat .container-message-form {
  height: 6vh;
  width: 100%;
}
.StandAloneChat .chat .container-message-form form {
  height: inherit;
  width: inherit;
  display: flex;
}
.StandAloneChat .chat .container-message-form form .text-input {
  width: 70%;
  outline: none;
  padding-left: 15px;
  font-size: 16px;
  background-color: #f3f3f3;
}
.StandAloneChat .chat .container-message-form form .text-input ::placeholder {
  color: gray;
}
.StandAloneChat .chat .container-message-form form label {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}
.StandAloneChat .chat .container-message-form form label img {
  height: 3vh;
}
.StandAloneChat .chat .container-message-form form #file-input {
  display: none;
}
.StandAloneChat .chat .container-message-form form button {
  width: 15%;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #f3f3f3;
}
.StandAloneChat .chat .container-message-form form button img {
  height: 3vh;
}

/*# sourceMappingURL=chat.css.map */
